/* your code */
*{
	margin: 0px;
}
table{
	border: 4px solid black;
}

.game-stats{
	width: 100%;
	height: 150px;
	text-align: left;
	border-collapse: collapse;
	border-radius: 12px;
	overflow: hidden;
}

thead{
	background-color:teal;
	color: white;
}

th{
	padding: 8px;
}

td{
	padding: 8px;
}

.game-stats tr:nth-child(even){
	background-color: #f2f2f2;
}